$dark: #000 !important;
$darker: #333 !important;
$darker-low: #666 !important;
$dark-medium: #444 !important;
$light-low: #999 !important;
$light-medium: #ddd !important;
$light: #fff !important;

$featured: #ff9900 !important;
$featured-dark: #d68100 !important;

:root {
  --dark: #{$dark};
  --darker: #{$darker};
  --darker-low: #{$darker-low};
  --dark-medium: #{$dark-medium};
  --light-low: #{$light-low};
  --light-medium: #{$light-medium};
  --light: #{$light};

  --featured: #{$featured};
  --featured-dark: #{$featured-dark};
}