$dark: #000;
$darker: #333;
$darker-low: #666;
$dark-medium: #444;
$light-low: #999;
$light-medium: #ddd;
$light: #fff;

$featured: #ff9900;
$featured-dark: #d68100;

:root {
  --dark: #{$dark};
  --darker: #{$darker};
  --darker-low: #{$darker-low};
  --dark-medium: #{$dark-medium};
  --light-low: #{$light-low};
  --light-medium: #{$light-medium};
  --light: #{$light};

  --featured: #{$featured};
  --featured-dark: #{$featured-dark};
}